.container {
    height:100%;
}

.sidenav {
    width: 13rem;
    color: white;
    background: linear-gradient(90deg, rgba(18,66,93,1) 0%, rgba(114,142,156,1) 51%, rgba(7,169,182,0.9444152661064426) 89%);
}

img {
    width: 100%;
    height: 7rem;
    margin: .8rem auto 1rem auto
}

.sidenav a {
    color: white;
}

.sidenav i {
    margin-right: .6rem;
}

.menu {
    margin: 1rem 0 0 1rem;
    color: white;
    background: linear-gradient(90deg, rgba(18,66,93,1) 0%, rgba(114,142,156,1) 51%, rgba(7,169,182,0.9444152661064426) 89%);
}