.container {
    width: 90%;
    margin: auto;
}

table {
    width: 100%;
  }

  .mat-form-field {
      width: 100%;
  }

  button {
      width: 100%;
  }

  h1 {
       width: 100%;
       text-align: center;
       /* margin-bottom: 2rem; */
  }

  .edit {
      color: rgb(0, 153, 255);
      padding-right: 1rem;
  }

  .delete {
      color: black;
      opacity: .8;
  }

  mat-radio-group {
      display: flex;
      justify-content: space-around;
      margin-bottom: 1rem;
  }

  a.disabled {
    pointer-events: none;
    cursor: default;
    opacity: .4;
}


.card-chamados-row {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 0.5em;
    align-items: center;
}

.card-qtd-chamados {
    min-width: 150px;
    border-radius: 9px;
    color: #8e8e8e;
    padding: 0.1rem;
    text-align: center;
    box-shadow: 0px 3px 11px 0px #00000033;
}

.card-qtd-chamados h2 {
    margin: 0;
    margin-bottom: 0.1em;
}

.card-qtd-chamados span {
    font-size: 2em;
    color: #000e6685;
}


.labels-container {
    margin-block: 0.5rem;
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(4, 1fr);
}